@model CarApp.Models.User

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="User" asp-action="CreateUser" method="post">
    <div class="mb-3">
        <label class="form-label">
            Firstname
        </label>
        <input asp-for=Firstname type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">
            Lastname
        </label>
        <input asp-for="Lastname" type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">
            Age
        </label>
        <input asp-for="Age" type="number" class="form-control" />
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>