@model CarApp.Models.Car


<h1>Sell car</h1>

<hr/>

<div class="row">
    <div class="col-6">

        <div class="card">

            <div class="card-header">
                <h5>Sell Your Car</h5>
            </div>

            <div class="card-body">
                <form asp-controller="Cars" asp-action="CreateCar" method="post">
                    <div class="mb-3">
                        <label class="form-label">
                            Car Brand
                        </label>
                        <input asp-for=Brand type="text" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Car Model
                        </label>
                        <input asp-for="Model" type="text" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Lincense Plate
                        </label>
                        <input asp-for="LincensePlate" type="text" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Engine
                        </label>
                        <input asp-for="Engine" type="text" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Build Year
                        </label>
                        <input asp-for="BuildYear" type="text" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Body Type
                        </label>
                        <input asp-for="bodyType" type="text" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            User id
                        </label>
                        <input asp-for="User" type="number" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>

            <div class="card-footer">
            </div>

        </div>


    </div>
</div>